<div
  class=" header pb-6 d-flex align-items-center"
  style="min-height: 170px; background-size: cover; background-position: center top;"
>
  <span > </span>

</div>

<div class=" container-fluid mt--6">
  <div class=" row">
    <div class=" col-xl-10 order-xl-2">
      <div class="  card card-profile">
        

        <div class=" row justify-content-center">
          <div class=" col-lg-3 order-lg-2">
            <div class=" card-profile-image">
              <a href="javascript:void(0)">
                <img
                  class=" rounded-circle"
                  src="assets/img/theme/team-4.jpg"
                />
              </a>
            </div>
          </div>
        </div>

        <div
          class=" card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4"
        >
          <div class=" d-flex justify-content-between">
            <a class=" btn btn-sm btn-info mr-4" href="javascript:void(0)">
              Edit profile
            </a>

            <a
              class=" btn btn-sm btn-default float-right"
              href="javascript:void(0)"
            >
              Message
            </a>
          </div>
        </div>

        <div class=" card-body pt-0">
          <div class=" row">
            <div class=" col">
              <div class=" card-profile-stats d-flex justify-content-center">
                <div>
                  <span class=" heading"> 22 </span>

                  <span class=" description"> Friends </span>
                </div>

                <div>
                  <span class=" heading"> 10 </span>

                  <span class=" description"> Photos </span>
                </div>

                <div>
                  <span class=" heading"> 89 </span>

                  <span class=" description"> Comments </span>
                </div>
              </div>
            </div>
          </div>

          <div class=" text-center">
            <h5 class=" h3">
              Jessica Jones<span class=" font-weight-light"> , 27 </span>
            </h5>

            <div class=" h5 font-weight-300">
              <i class=" ni location_pin mr-2"> </i> Bucharest, Romania
            </div>

            <div class=" h5 mt-4">
              <i class=" ni business_briefcase-24 mr-2"> </i> Solution Manager -
              Creative Tim Officer
            </div>

            <div>
              <i class=" ni education_hat mr-2"> </i> University of Computer
              Science
            </div>
          </div>
        </div>
      </div>

      <div class=" card">
        <div class=" card-header"><h5 class=" h3 mb-0">Progress track</h5></div>

        <div class=" card-body">
          <ul class=" list-group list-group-flush list my--3">
            <li class=" list-group-item px-0">
              <div class=" row align-items-center">
                <div class=" col-auto">
                  <a class=" avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/bootstrap.jpg"
                    />
                  </a>
                </div>

                
              </div>
            </li>

            <li class=" list-group-item px-0">
              <div class=" row align-items-center">
                <div class=" col-auto">
                  <a class=" avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/angular.jpg"
                    />
                  </a>
                </div>

                <div class=" col">
                  <h5>Angular Now UI Kit PRO</h5>

                  <div class=" progress progress-xs mb-0">
                  </div>
                </div>
              </div>
            </li>

            <li class=" list-group-item px-0">
              <div class=" row align-items-center">
                <div class=" col-auto">
                  <a class=" avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/sketch.jpg"
                    />
                  </a>
                </div>

                <div class=" col">
                  <h5>Black Dashboard</h5>

                  <div class=" progress progress-xs mb-0">
                  </div>
                </div>
              </div>
            </li>

            <li class=" list-group-item px-0">
              <div class=" row align-items-center">
                <div class=" col-auto">
                  <a class=" avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/react.jpg"
                    />
                  </a>
                </div>

                <div class=" col">
                  <h5>React Material Dashboard</h5>

                  <div class=" progress progress-xs mb-0">
                  </div>
                </div>
              </div>
            </li>

            <li class=" list-group-item px-0">
              <div class=" row align-items-center">
                <div class=" col-auto">
                  <a class=" avatar rounded-circle" href="javascript:void(0)">
                    <img
                      alt="Image placeholder"
                      src="assets/img/theme/vue.jpg"
                    />
                  </a>
                </div>

                <div class=" col">
                  <h5>Vue Paper UI Kit PRO</h5>

                  <div class=" progress progress-xs mb-0">
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

   
  </div>
</div>
