<title translate>Check appointments</title><br>

<div class="d-flex justify-content-center">


    &nbsp;&nbsp;
<br><br>
&nbsp;&nbsp;
  <button type="button" class="btn btn-primary pull-right"
  class="btn btn-primary"
   data-bs-toggle="modal" data-bs-target="#staticBackdrop"
   translate
   >

</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</div>
<div class="container py-5">

  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-dark" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" translate>
       Previous
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" translate>
          Today
        </div>
        <div class="btn btn-dark" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()" translate>
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3 >{{ viewDate | calendarDate:(view + 'ViewTitle'):'en'||"fr" }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-dark" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month" translate>
    Month
        </div>
        <div class="btn btn-dark" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week" translate>
          Week
        </div>
        <div class="btn btn-dark" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day" translate>
          Day
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day);
      clickedDay($event.day)"
      (eventClicked)="handleEvent($event.event)">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events"
      [refresh]="refresh" (eventClicked)="handleEvent($event.event)">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" [refresh]="refresh"
      (eventClicked)="handleEvent($event.event)">
    </mwl-calendar-day-view>
  </div>
  <ng-template #modalContent let-close="close">
    <div class="modal-header">
      <h1 class="text-uppercase text-center" translate>Appointment details</h1>
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">


      <div class="card-group">
   
      </div>





    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-secondary" (click)="close()">
        OK
      </button>
    </div>
  </ng-template>

  <!-- Model detail event intervention
  <div class="modal fade" id="detailBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="detailBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="detailBackdropLabel" translate>  <i class="fa fa-filter"></i>
            titles.sort</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>


        <div class="card-group">
          <div class="card info d-md-inline">
            <div class="row m-auto">
              <div class="card-body text-black">
                <h2 class="card__title" translate>
                  <i class="fa fa-heading"></i> &nbsp; input.titles.title
                </h2>

                <p class="card__text">{{ intervention?.title }}</p>
                <h2 class="card__title" translate>
                  <i class="fas fa-calendar-alt"></i> &nbsp; titles.started_at
                </h2>

                <p class="card__text">{{ intervention?.startedAt }}</p>
                <h2 class="card__title" translate>
                  <i class="fas fa-calendar-check"></i> &nbsp; input.titles.end_date
                </h2>

                <p class="card__text">{{ intervention?.expiredAt }}</p>

                <h2 class="card__title" translate>
                  <i class="fas fa-exclamation-circle"></i> &nbsp; titles.categories
                </h2>

                <p class="card__text">
                  {{ intervention?.category?.getName() }}
                </p>
              </div>
            </div>
          </div>
          <div class="card info d-md-inline">
            <div class="row m-auto">
              <div class="card-body text-black">
                <h2 class="card__title" translate>
                  <i class="fas fa-users-cog"></i>&nbsp; input.titles.team
                </h2>
                <p class="card__text">
                  {{ intervention?.team?.name }}
                </p>
                <h2 class="card__title" translate>
                  <i class="fas fa-map-marker-alt"></i>&nbsp; location.title
                </h2>
                <p class="card__text">
                <p>
                  <span translate>location.street</span> : {{ intervention?.address?.Street }} <br />
                  <br /> <span translate>location.city</span> : {{ intervention?.address?.City }} <br />
                  <br /> <span translate>location.governorate</span> : {{ intervention?.address?.State }} <br />
                  <br /> <span translate>location.country</span> : {{ intervention?.address?.Country }}
                </p>

              </div>
            </div>
          </div>
        </div>






    <div class="modal-footer">
      <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal" translate>buttons.close_m</button>
      <button type="submit" class="btn btn-primary" translate>titles.sort </button>
    </div>
      </div>

    </div>
  </div>
-->
<!-- Modal create intervention -->
<div class="modal fade" id="staticBackdrop"  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">

    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <section 
     class="h-100">

        <div class="col">

            <div class="logo">
              <span><img src="assets/images/gest.png" alt="Sample photo" height="60px" width="100px" /></span>

              <div class="card-title">
                <span class="title" translate> titles.add_inter</span>
              </div>
            </div>
       
          </div>


  </section>

  <div class="modal-footer">
    <button type="button" id="close" class="btn btn-secondary" data-bs-dismiss="modal" translate>buttons.close_m</button>
  </div>
    </div>

  </div>
</div>
<!-- Modal Script -->

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>




</div>